/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEF5FF; /* Background color for the entire page */
}

/* Container Styles */
header, nav, main, footer {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Common styles for header, nav, main, and footer */
}

/* Header Styles */
header {
    text-align: center;
    background-color: #176B87; /* Background color for the header */
    color: #fff; /* Text color in the header */
    padding: 10px;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #176B87; /* Background color for the navigation */
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: #fff; /* Default text color in the navigation */
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s ease; /* Smooth transition for text color */
}

nav a:hover {
    background-color: #FFA500; /* Background color on hover */
    color: black; /* Text color on hover */
    box-shadow: 0 8px 16px rgba(255, 165, 0, 0.5);
    transform: scale(1.1) rotate(1deg);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

/* Main Content Styles */
#links, #news, #pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #EEF5FF; /* Background color for main content sections */
}

.box-item, .news-item, .picture-item {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #B4D4FF; /* Background color for box, news, and picture items */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.box-item i, .news-item img {
    margin-bottom: 10px;
    transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.box-item:hover, .news-item:hover, .picture-item:hover {
    background-color: #FFA500; /* Background color on hover */
    box-shadow: 0 8px 16px rgba(255, 165, 0, 0.5);
    transform: scale(1.2) rotate(1deg);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.box-item:hover i, .picture-item:hover {
    transform: scale(1.2);
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
    background-color: #176B87; /* Background color for the footer */
    color: #fff; /* Text color in the footer */
    padding: 10px;
    border-radius: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    #links, #news, #pictures {
        flex-direction: column;
    }
}
